<div class="myDiv">
  <div style="width:100%;text-align: center">
  </div>
  <h1>
    Sign In
  </h1>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="User Name" [(ngModel)]="user">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" [(ngModel)]="password" type="password">
  </mat-form-field>

  <mat-checkbox [(ngModel)]="remember">Remember me on this device</mat-checkbox>

  <button mat-raised-button color="primary" (click)="login()">
    Login
  </button>

  <br />

  <button mat-raised-button color="primary" (click)="register()">
    Register
  </button>
</div>